label[for="inputPassword3"],
label[for="inputEmail3"] {
    text-align-last: end
}




.email {
    padding-top: 10px;
}

.footerr {
    font-size: 10px;
    margin-top: 20px;
}

.imgalan{
    width: 253px;
    height: 253px;
}

.borcon {
    border: 1px solid black;
  }

/* {
    border: 1px solid black;
  }*/


